<script src="/js/metodos.js"></script>
<script>
    $(document).ready(function () {
    validarRegistro()
    });</script>


<section class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    <div class="container">
        <div class="btn-group">
            <a href="/" data-tooltip="tooltip" data-placement="top" title="REGRESAR" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-left fa-2x"></i></a>
        </div>
        <div class="card">
            <div class="card-header bg-succses">
                LISTADO DE MASCOTAS
                <a href="" data-toggle="modal" class=" btn btn-outline-primary ml-auto float-rigth" title="agregar mascota" data-target="#registroMascota">Nuevo <i class="fas fa-paw"></i></a>
                <div style="font-size: 20px; color: #b21f2d;">
                    {{msg.error}}
                </div>
                <div style="font-size: 20px; color: green;">
                    {{msg.ok}}
                </div>
            </div>

            <div class="card-body">

                <div class="form-group">
                    <div class="table-responsive">
                        <table id="tablaUmascota" class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Nombre</th>
                                    <th>Nro. Historial</th>
                                    <th>Tipo</th>
                                    <th>Sexo</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each lista as |lis i|}}
                                <tr>
                                    <td>
                                        {{i}}
                                    </td>
                                    <td>
                                        {{nombre}}
                                    </td>
                                    <td>
                                        {{nro_historial}}
                                    </td>
                                    <td>
                                        {{tipo}}
                                    </td>
                                    <td>
                                        {{sexo}}
                                    </td>
                                    <td>
                                        <form name="eliminarMascota" action="/eliminarMascota" method="POST">
                                            <input type="hidden" value="{{external_id}}" id="borrarMascota" name="borrarMascota">
                                            <div class="btn-group">
                                                <button type="button" data-toggle="modal" data-target="#modificarMascota" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn-primary btn-sm" onclick="llenardatosMascota('{{external_id}}')"><i class="fa fa-edit"></i></button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm " ><img title="Eliminar" src="images/delete.png"></button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> 'usuario/mascota/registro'}}
{{> 'usuario/mascota/modificar'}}
