<script src="/js/metodos.js"></script>
<script>
    $(document).ready(function () {
    validarRegistro()
    });</script>


<section class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    <div class="container">
        <div class="card">
            <div class="card-header bg-succses">
                LISTADO DE CLIENTES
            </div>
            <div class="card-body">
                <div class="form-co">

                    <a href="" data-toggle="modal" class=" btn btn-outline-primary ml-auto float-left" title="agregar mascota" data-target="#registroMascota">Nuevo <i class="fas fa-paw"></i></a>


                </div>

                <div class="form-group">
                    <div class="table-responsive">
                        <table id="tabla" class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Nombre</th>
                                    <th>Raza</th>
                                    <th>Tipo</th>
                                    <th>Sexo</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each lista as |lis i|}}
                                <tr>
                                    <td>
                                        {{i}}
                                    </td>
                                    <td>
                                        {{nombre}}
                                    </td>
                                    <td>
                                        {{raza}}
                                    </td>
                                    <td>
                                        {{tipo}}
                                    </td>
                                    <td>
                                        {{sexo}}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" data-toggle="modal" data-target="#modificarMascota" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn-danger btn-sm" onclick="llenardatosMascota('{{external_id}}')"><i class="fa fa-edit"></i></button>
                                        </div>

                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> 'usuario/mascota/registro'}}
{{> 'usuario/mascota/modificar'}}
