<script src="/js/metodos.js"></script>
<section class="site-section bg-white " id="testimonials-section" data-aos="fade">
    <div class="container">
        <div class="btn-group">
            <a href="/registroMascota/{{external_idPer}}" data-tooltip="tooltip" data-placement="top" title="REGRESAR" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-left fa-2x"></i></a>
        </div>
        <h1 class="text-center">{{title}}</h1>
        <div class="row">
            <div class="card" style="width:300px">
                <div class="card-header btn-succses">
                    <div class="card-title text-center">
                        <p class="card-text">
                            <h4>Datos Mascota</h4>
                        </p>
                    </div>
                </div>
                <div class="card-body">{{#each lista}}
                    <div class="form-group">
                        <a for="cedula">Nro. Historial:</a>
                        <input type="text" class="form-control" value="{{nro_historial}}" readonly>
                    </div>
                    <div class="form-group">
                        <a for="nombres">Nombre:</a>
                        <input type="text" class="form-control" value="{{nombre}}" readonly>
                    </div>
                    <div class="form-group">
                        <a for="direccion">Especie:</a>
                        <input type="text" class="form-control" value="{{especie}}" readonly>
                    </div>
                </div>{{/each}}
            </div>
            <div class="col-md-1"> </div>
            <div class="card" style="width:700px">
                <div class="card-header btn-succses">
                    <div class="card-title text-center">
                        <div class="card-header bg-light">
                            <h5>LISTADO DE HISTORIAL </h5>
                        </div>
                        <br>
                        <a href="" data-toggle="modal" class=" btn btn-outline-primary ml-auto float-left" title="Nevo Registro" data-target="#registroHistorial">Nuevo <i class="fas fa-file-medical"></i></a>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <table id="tablaLHistorialP" class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Causa</th>
                                    <th>Estado</th>
                                    <th>Enfermedades</th>
                                    <th>Tratamiento</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each listado as |list i|}}
                                <tr>
                                    <td>
                                        {{i}}
                                    </td>
                                    <td>
                                        {{causa}}
                                    </td>
                                    <td>
                                        {{estado}}
                                    </td>
                                    <td>
                                        {{enfermedades}}
                                    </td>
                                    <td>
                                        {{tratamiento}}
                                    </td>
                                    <td>
                                         <form name="eliminarHistorialM" action="/eliminarHistorialM" method="POST">
                                         <input type="hidden" value="{{external_id}}" id="borrarHistorial" name="borrarHistorial">
                                           <div class="btn-group">
                                            <a href="#" data-toggle="modal" data-target="#modificarHistorial" data-tooltip="tooltip" data-placement="top" title="Editar" class=" btn-info btn-sm" onclick="llenardatosHistorial('{{external_id}}')"><i class="far fa-edit"></i></a>
                                        </div>
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm " ><img title="Eliminar" src="/images/delete.png"></button>
                                            </div>
                                        </form>
                                        
                                        
                                        
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> 'veterinario/mascota/historial/registrar'}}
{{> 'veterinario/mascota/historial/modificar'}}