<section class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    <div class="container" style="padding-top: 0px">
        <div class="card-header bg-secondary">
            Foro
        </div>

        <div class="card-body">
            <div style="font-size: 20px; color: #b21f2d;">
                {{msg.error}}
            </div>
            <div style="font-size: 20px; color: green;">
                {{msg.ok}}
            </div>
            <div class="form-group">
                <div class="form-group">
                <a href="/" class=" btn btn-outline-primary ml-auto float-rigth" title="agregar discusion" >Regresar</a>
                </div>
                <div class="table-responsive">
                    <table id="tablaPforo" class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nro</th>
                                <th>Tema</th>
                                <th>Fecha</th>
                                <th>Accinoes</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each listado as |list i|}}
                            <tr>
                                <td>
                                    {{i}}
                                </td>
                                <td>
                                    <a style="font-style: oblique; font-weight: 900">Usuario:</a> {{persona}}
                                    <hr>
                                    <a style="font-style: oblique; font-weight: 900">Tema de discusion:</a> {{foro}}
                                    <hr>
                                    <a style="font-style: oblique; font-weight: 900">Respuesta {{veterinario}}:</a> {{respuesta}}
                                </td>
                                <td>
                                    {{fecha}}
                                </td>
                                <td>

                                    <div class="btn-group">
                                        <button type="button" onclick="llenardatosForo('{{external_id}}')" data-toggle="modal" data-target="#responderForo" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn-warning btn-sm" >Responder</button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{{> 'responderForo'}}