<script src="/js/metodos.js"></script>
<script>

</script>
<script>
    $(document).ready(function () {
        fechaActual();
        selectColor();
        fechasPasadas();
        nuevaFecha();
        $("#fecha").change(function () {
            selectColor();
        });
        function nuevaFecha() {
            if (!obtenerHora()) {
                console.log("logica");
                if (fechaActual() == fechaActual()) {
                    fechaSiguiente($("#fecha").val());
                }
            }
        }
        $("#genCit").click(function () {
            $("#valor").val("true")
        });
    });
</script>

<section class="site-section bg-white " id="testimonials-section" data-aos="fade">
    <div class="container">
        <div class="form-group">
            <a href="/" class=" btn btn-outline-primary ml-auto float-rigth" title="agregar discusion">Regresar</a>
        </div>
        {{#if registro}}
        <h1 class="text-center">{{title}}</h1>
        <div class="row">
            
            <div class="card align-self-center" style="width:300px">
                <div class="card-header btn-succses">
                    <div class="card-title text-center">
                        <p class="card-text">
                            <h4>Datos Cliente</h4><input type="hidden" value="{{cliente.id}}" id="idCliente" name="idCliente" />
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="cedula">Cedula</label>
                        <input type="text" class="form-control" value="{{cliente.cedula}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nombres">Nombres:</label>
                        <input type="text" class="form-control" value="{{cliente.nombres}} {{cliente.apellidos}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Direccion:</label>
                        <input type="text" class="form-control" value="{{cliente.direccion}}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-1"> </div>
            <div class="card" style="width:700px">
                <div class="card-header btn-succses">
                    <div class="card-title text-center">
                        <div class="card-header bg-light">
                            <h5>DATOS CITA MEDICA</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <form action="/cliente/cita/agendar" method="POST" class="form-box" id="formulario">
                            <label class="text-black">Seleccione su mascota</label>
                            <select class="form-control" id="mascota" name="mascota">
                                {{#each mascota}}
                                <option value="{{id}}"> {{nombre}} </option>
                                {{/each}}
                            </select>
                            <label class="text-black" for="exampleFormControlSelect2">Seleccione el servicio</label>
                            <div class="form-group">
                                <select class="form-control" name="servicio" id="servicio">
                                    <option>Vacunas</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <label class="text-black" for="fecha">Seleccione la fecha</label>
                            <div class="alert alert-warning text-black-opacity-05" role="alert" id="alerta">
                                ATENCION!. Al pasar las 17:00 la fecha para agendar la cita pasara automaticamente al siguiente dia laborable.
                            </div>
                            <div class="alert alert-danger" role="alert" id="fechaError">
                                La fecha que escogiste no es válida
                            </div>
                            <div class="form-group">
                                <input type="date" id="fecha" name="fecha" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="exampleFormControlSelect2">Seleccione hora</label>
                                <select multiple class="form-control text-black dropdown-secondary" id="inf" size="8">

                                </select>
                                <select multiple class="form-control text-black dropdown-secondary" name="hora" id="horario" size="8">
                                    <option value="8:00-8:30">8:00-8:30</option>
                                    <option value="8:30-9:00">8:30-9:00</option>
                                    <option value="9:00-9:30">9:00-9:30</option>
                                    <option value="9:30-10:00">9:30-10:00</option>
                                    <option value="10:00-10:30">10:00-10:30</option>
                                    <option value="10:30-11:00">10:30-11:00</option>
                                    <option value="11:00-11:30">11:00-11:30</option>
                                    <option value="11:30-12:00">11:30-12:00</option>
                                    <option value="12:00-12:30">12:00-12:30</option>
                                    <option value="12:30-13:00">12:30-13:00</option>
                                    <option value="15:00-15:30">15:00-15:30</option>
                                    <option value="15:30-16:00">15:30-16:00</option>
                                    <option value="16:00-16:30">16:00-16:30</option>
                                    <option value="16:30-17:00">16:30-17:00</option>
                                </select>
                            </div>
                            <input id="valor" type="hidden" value="false" name="valor">
                            <div class="alert alert-info" role="alert">
                                Estimado(a) {{cliente.nombres}} {{cliente.apellidos}} una vez agendada tu cita no podras modificar los datos de la misma
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-pill" value="Generar Cita" id="genCit">
                                <a href="/" class="btn btn-danger btn-pill">Volver</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            
        </div>
        {{/if}}
            {{#unless registro}}
            <h1>Aun no tiene mascotas registradas</h1>
            {{/unless}}
    </div>
</section>