
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
        <link rel="icon" href="/images/favicon.png" type="image/png">
        <script src="/javascripts/utilidades.js"></script>
        <title>Faith Church Multi</title>
        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/vendors/linericon/style.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/stylesheets/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/stylesheets/vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/mensajes.css">

        {{#if inicio}}
        <link rel="stylesheet" href="/stylesheets/inicioSesion.css">
        <link rel="stylesheet" href="/stylesheets/mensajes.css">
        {{/if}}
        {{#if inicioC}}
        <link rel="stylesheet" href="/stylesheets/inicioSesion.css">
        <link rel="stylesheet" href="/stylesheets/mensajes.css">
        {{/if}}
        <link rel="stylesheet" href="/stylesheets/responsive.css">

    </head>
    <body>
        {{# if publico}}
    <body>
        <!--================Header Area =================-->
        <header class="header_area">

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <div style="font-size: 20px; color: #b21f2d;"> 
                        {{msg.error}}
                    </div>
                    <div style="font-size: 20px; color: green;"> 
                        {{msg.ok}}
                    </div>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item submenu dropdown">
                                <br>
                                <a  class="btn" style="background-color: #00c8e6" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ingresar</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/miCuentaC">Cliente</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/miCuenta">Veterinario</a></li>
                                </ul>
                            </li> 

                        </ul>

                    </div> 
                </div>
            </nav>
        </header>
        <!--================Header Area =================-->

        <!--================banner Area =================-->
        <section class="banner_area d-flex text-center">
            <div class="container align-self-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            <h6>Who Created us</h6>
                            <h1>{{title}}</h1>
                            <p>If you are looking at blank cassettes on the web, you may be very confused at<br> the difference in price. You may see some for as low as $.17 each.</p>
                            <a href="#" class="btn_hover btn_hover_two">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->

        <!--================Event Date Area =================-->
        <section class="event_date_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d_flex">
                        <div class="evet_location flex">
                            <h3>Spreading the faith to all</h3>
                            <p><span class="lnr lnr-calendar-full"></span>5th may, 2018</p>
                            <p><span class="lnr lnr-clock"></span>Saturday, 09.00 am to 05.00 pm</p>
                        </div>
                    </div>
                    <div class="col-md-6 event_time">
                        <h4>Our Next Event Starts in</h4>
                        <div id="timer" class="timer">
                            <div class="timer__section days">
                                <div class="timer__number"></div>
                                <div class="timer__label">days</div>
                            </div>
                            <div class="timer__section hours">
                                <div class="timer__number"></div>
                                <div class="timer__label">hours</div>
                            </div>
                            <div class="timer__section minutes">
                                <div class="timer__number"></div>
                                <div class="timer__label">Minutes</div>
                            </div>
                            <div class="timer__section seconds">
                                <div class="timer__number"></div>
                                <div class="timer__label">seconds</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Event Date Area =================-->

        <!--================About Area =================-->
        <section class="about_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Welcome to Faith Church</h2>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
                </div>
                <div class="row">
                    <div class="col-md-6 d_flex">
                        <div class="about_content flex">
                            <h3 class="title_color">Did not find your Package Feel free to ask us. We‘ll make it for you</h3>
                            <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                            <a href="#" class="about_btn btn_hover">Read Full Story</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/image/about.jpg" alt="abou_img">
                    </div>
                </div>
            </div>
        </section>
        <!--================About Area =================-->

        <!--================Features Area =================-->
        <section class="features_area">
            <div class="row m0">
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
            </div>
        </section>
        <!--================Features Area =================-->

        <!--================Sermons work Area =================-->
        <section class="sermons_work_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Sermons This Week</h2>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from</p>
                </div>
                <div class="sermons_slider owl-carousel">
                    <div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="image/sermns.jpg" alt="">
                                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color">Did not find your Package? Feel free to ask us. We‘ll make it for you</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Categories: </span><a href="#"> Travor James</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Sermon Speaker: </span> Prayer</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span>Date:</span> 5th may, 2018</li>
                                </ul>
                                <a href="#" class="btn_hover">View More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="image/sermns.jpg" alt="">
                                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color">Did not find your Package? Feel free to ask us. We‘ll make it for you</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Categories: </span><a href="#"> Travor James</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Sermon Speaker: </span> Prayer</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span>Date:</span> 5th may, 2018</li>
                                </ul>
                                <a href="#" class="btn_hover">View More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="item row">
                        <div class="col-lg-8">
                            <div class="sermons_image">
                                <img src="image/sermns.jpg" alt="">
                                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sermons_content">
                                <h3 class="title_color">Did not find your Package? Feel free to ask us. We‘ll make it for you</h3>
                                <ul class="list_style sermons_category">
                                    <li><i class="lnr lnr-user"></i><span>Categories: </span><a href="#"> Travor James</a></li>
                                    <li><i class="lnr lnr-database"></i><span>Sermon Speaker: </span> Prayer</li>
                                    <li><i class="lnr lnr-calendar-full"></i><span>Date:</span> 5th may, 2018</li>
                                </ul>
                                <a href="#" class="btn_hover btn_hover_two">View More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Sermons work Area=================-->
        <!--================Donate Area=================-->
        <section class="donate_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-self-center">
                        <div class="donate_content ">
                            <h2>Your donation can save <br>many lives</h2>
                            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="donation_form">
                            <h3>How much would you like to donate?</h3>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="$5"/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="$5"/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="$5"/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="Any"/>
                            </div>
                            <a href="#" class="btn_hover btn_hover_two">Donate Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Donate Area=================-->

        <!--================Event Blog Area=================-->
        <section class="event_blog_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Upcoming Events</h2>
                    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="event_post">
                            <img src="image/blog1.jpg" alt="">
                            <a href="#"><h2 class="event_title">Spreading Peace to world</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i>Saturday, 5th may, 2018</li>
                                <li><i class="lnr lnr-apartment"></i>Rocky beach Church</li>
                                <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                            </ul>
                            <a href="#" class="btn_hover">View Details</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="event_post">
                            <img src="image/blog2.jpg" alt="">
                            <a href="#"><h2 class="event_title">Spread Happyness to world</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i>Saturday, 5th may, 2018</li>
                                <li><i class="lnr lnr-apartment"></i>Rocky beach Church</li>
                                <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                            </ul>
                            <a href="#" class="btn_hover">View Details</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="event_post">
                            <img src="image/blog3.jpg" alt="">
                            <a href="#"><h2 class="event_title">Spreading Light to world</h2></a>
                            <ul class="list_style sermons_category event_category">
                                <li><i class="lnr lnr-user"></i>Saturday, 5th may, 2018</li>
                                <li><i class="lnr lnr-apartment"></i>Rocky beach Church</li>
                                <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                            </ul>
                            <a href="#" class="btn_hover">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area=================-->


        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Agency</h6>
                            <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Navigation Links</h6>
                            <div class="row">
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Feature</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="list_style">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>							
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Newsletter</h6>
                            <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>		
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                    </div>									
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="image/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="image/instagram/Image-08.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!--================ End footer Area  =================-->

        {{/if}}
        {{#if inicio }}    
        <section class="banner_area d-flex text-center">

            <div class="container">
                <div class="frame">


                    <div style="font-size: 20px; color: #b21f2d;"> 
                        {{msg.error}}
                    </div>
                    <div style="font-size: 20px; color: green;"> 
                        {{msg.ok}}
                    </div>

                    <center><h1 style="padding-top: 40px">Iniciar Sesion</h1></center>
                    <div>
                        <form class="form-signin" action="/inicio_sesion" method="POST" name="form">
                            <div class="form-group">
                                <input type="text" placeholder="Correo" class="form-styling" name="correo">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Clave" class="form-styling" name="clave">
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                            <a href="/" class="btn btn-danger">Cancelar</a>
                            <hr>Nuevo aqui? 
                            <a href="/registrarVeterinario" type="link">Registrate</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        {{/if}}
        {{#if inicioC }}    
        <section class="banner_area d-flex text-center">

            <div class="container">
                <div class="frame">


                    <div style="font-size: 20px; color: #b21f2d;"> 
                        {{msg.error}}
                    </div>
                    <div style="font-size: 20px; color: green;"> 
                        {{msg.ok}}
                    </div>

                    <center><h1 style="padding-top: 40px">Iniciar Sesion</h1></center>
                    <div>
                        <form class="form-signin" action="/inicio_sesion" method="POST" name="form">
                            <div class="form-group">
                                <input type="text" placeholder="Correo" class="form-styling" name="correo">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Clave" class="form-styling" name="clave">
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                            <a href="/" class="btn btn-danger">Cancelar</a>
                            <hr>Nuevo aqui? 
                            <a href="/registrarVeterinario" type="link">Registrate</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        {{/if}}
        {{#if registrarVeterinario}}
        <section class="banner_area d-flex text-center">
            <script>
                $(document).ready(function () {
                    $("#boton").click(function () {
                        buscar();
                    });
                    function buscar() {
                        var url = "http://localhost:3000/users/buscar_consulta";
                        var criterio = $("#criterio").val();
                        var texto = $("#texto").val();
                        $.ajax({
                            url: url,
                            dataType: 'json',
                            data: 'criterio=' + criterio + '&texto=' + texto,
                            success: function (data, textStatus, jqXHR) {
                                console.log(data);
                                $("#cedula").val(data[0].cedula);
                                $("#paciente").val(data[0].paciente);
                                $("#enf").val(data[0].enf);
                                $("#enf_her").val(data[0].enf_her);
                                $("#hab").val(data[0].habitos);
                                $("#nro").val(data[0].nro);
                                $("#idHistoria").val(data[0].external);


                            }
                        });
                    }

                    cambiarFecha();
                    function cambiarFecha() {
                        //alert(fecha);
                        var d = new Date();
                        //alert((d.getDate()+"/"+(d.getMonth()+1))+"/"+d.getFullYear());
                        var mes = (d.getMonth() + 1);
                        var dia = d.getDate();
                        var fecha = (d.getFullYear() + "-" + rellenarCeros(mes, 2) + "-" + rellenarCeros(dia, 2));
                        console.log(fecha);
                        $("#fecha").val(fecha);
                    }
                    function rellenarCeros(texto, nro_cero) {
                        texto = texto + "";
                        if (texto.length < nro_cero) {
                            var aux = "";
                            for (var i = texto.length; i < nro_cero; i++) {
                                aux += "0";
                            }
                            return aux + texto;
                        } else {
                            return texto;
                        }
                    }
                });
            </script>

            <div class="container"> 
                <div> 
                    <div class="container" style="margin-top: 20px;">    

                        <div class="panel panel-primary">
                            <h1>Datos del Veterinario</h1>
                            <div class="form-group">
                                <div class="label label-danger" style="font-size: 20px; color: #b21f2d;"> 
                                    {{msg.error}}
                                </div>
                            </div>
                            <br>
                            <div class="panel-body">
                                <form id="formulario"  method="POST" action="/registroVeterinario">
                                    <div style="padding-left:200px; padding-right: 200px">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" class="btn btn-primary" data-toggle="tab">Datos Personales</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="btn btn-secondary">Datos de Cuenta</a></li>                                        
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content" />
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <div class="form-group">
                                                <label for="cedula">Cedula</label>
                                                <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ingrese su cedula"  >
                                            </div>
                                            <div class="form-group">
                                                <label for="nombres">Nombres:</label>
                                                <input type="text" class="form-control" id="nombres" name="nombres"  placeholder="Ingrese sus nombres" >

                                            </div>
                                            <div class="form-group">
                                                <label for="apellidos">Apellidos:</label>
                                                <input type="text" class="form-control" id="apellidos" name="apellidos"  placeholder="Ingrese sus apellidos">

                                            </div>
                                            <div class="form-group">
                                                <label for="direccion">Direccion:</label>
                                                <input type="text" class="form-control" id="direccion" name="direccion"   placeholder="Ingrese su direccion">

                                            </div>
                                            <div class="form-group">
                                                <label for="telefono">Telefono:</label>
                                                <input type="text" class="form-control" id="telefono" name="telefono"  placeholder="Ingrese su telefono" >
                                            </div>
                                            <div class="form-group">
                                                <label for="nro_registro">Nro de Registro:</label>
                                                <input type="text" class="form-control" id="nro_registro" name="nro_registro" placeholder="Ingrese su numero de registro" >
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="profile">
                                            <div class="form-group">
                                                <label for="usuario">Usuario:</label>
                                                <input type="text" class="form-control" id="usuario" name="usuario"  placeholder="Ingrese su usuario" >
                                            </div>
                                            <div class="form-group">
                                                <label for="correo">Correo:</label>
                                                <input type="text" class="form-control" id="correo" name="correo"  placeholder="Ingrese su correo">
                                            </div>
                                            <div class="form-group">
                                                <label for="clave">Clave:</label>
                                                <input type="password" class="form-control" id="clave" name="clave"  placeholder="Ingrese su clave" >
                                            </div>



                                        </div>

                                    </div>
                            </div>
                            <div class="modal-footer">                                    
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <a href="/miCuenta" class="btn btn-danger">Cancelar</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    {{/if}}

    {{#if principal}}
    <!--================Header Area =================-->
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="/images/Logo.png" alt=""></a>
                Bienvenido {{usuario}}

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">




                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="index.hbs">Pagina principal</a></li> 
                        <li class="nav-item"><a class="nav-link" href="ministries.html">Foro</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                               aria-expanded="false">mascotas</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/registro">registrar</a></li>
                                <li class="nav-item"><a class="nav-link" href="event-details.html">opcion 2</a></li>
                            </ul>
                        </li> 
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                               aria-expanded="false">tema</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="about-us.html">opcion 1</a></li>
                                <li class="nav-item"><a class="nav-link" href="donation.html">opcion 2</a></li>
                            </ul>
                        </li> 


                        <li class="nav-item"><a class="nav-link" href="contact.html">Acerca de nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cerrar_sesion" onclick="return confirm('Esta seguro que desea salir?')" >Salir</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div> 
            </div>
        </nav>
    </header>
    <!--================Header Area =================-->
    {{else if mascota}}
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"><img src="/images/Logo.png" alt=""></a>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">

                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">regresar</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div> 
            </div>
        </nav>
    </header>
    {{/if}}
    {{#if principal}}
    <!--================banner Area =================-->
    <section class="banner_area d-flex text-center">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h6>Who Created us</h6>
                        <h1>{{title}}</h1>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at<br> the difference in price. You may see some for as low as $.17 each.</p>
                        <a href="#" class="btn_hover btn_hover_two">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================banner Area =================-->

    <!--================Event Date Area =================-->
    <section class="event_date_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d_flex">
                    <div class="evet_location flex">
                        <h3>Spreading the faith to all</h3>
                        <p><span class="lnr lnr-calendar-full"></span>5th may, 2018</p>
                        <p><span class="lnr lnr-clock"></span>Saturday, 09.00 am to 05.00 pm</p>
                    </div>
                </div>
                <div class="c-6ol-md-6 event_time">
                    <h4>Our Next Event Starts in</h4>
                    <div id="timer" class="timer">
                        <div class="timer__section days">
                            <div class="timer__number"></div>
                            <div class="timer__label">days</div>
                        </div>
                        <div class="timer__section hours">
                            <div class="timer__number"></div>
                            <div class="timer__label">hours</div>
                        </div>
                        <div class="timer__section minutes">
                            <div class="timer__number"></div>
                            <div class="timer__label">Minutes</div>
                        </div>
                        <div class="timer__section seconds">
                            <div class="timer__number"></div>
                            <div class="timer__label">seconds</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Event Date Area =================-->

    <!--================About Area =================-->
    <section class="about_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2>Bienvenido al sistema de citas online</h2>
                <p>Aqui es donde puedes reservar tu cita para tu mascota desde la comodidad de tu casa</p>
            </div>
            <div class="row">
                <div class="col-md-6 d_flex">
                    <div class="about_content flex">
                        <h3 class="title_color">Conoce mas sobre este tema</h3>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                        <a href="#" class="about_btn btn_hover">Read Full Story</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/about.jpg" alt="about_img">
                </div>
            </div>
        </div>
    </section>
    <!--================About Area =================-->

    <!--================Features Area =================-->
    <section class="features_area">
        <div class="row m0">
            <div class="col-md-3 features_item">
                <h3>Spreading Light to world</h3>
                <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                <a href="#" class="btn_hover view_btn">View Details</a>
            </div>
            <div class="col-md-3 features_item">
                <h3>Spreading Light to world</h3>
                <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                <a href="#" class="btn_hover view_btn">View Details</a>
            </div>
            <div class="col-md-3 features_item">
                <h3>Spreading Light to world</h3>
                <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                <a href="#" class="btn_hover view_btn">View Details</a>
            </div>
            <div class="col-md-3 features_item">
                <h3>Spreading Light to world</h3>
                <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                <a href="#" class="btn_hover view_btn">View Details</a>
            </div>
        </div>
    </section>
    <!--================Features Area =================-->

    <!--================Sermons work Area =================-->
    <section class="sermons_work_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2>Sermons This Week</h2>
                <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from</p>
            </div>
            <div class="sermons_slider owl-carousel">
                <div class="item row">
                    <div class="col-lg-8">
                        <div class="sermons_image">
                            <img src="/images/sermns.jpg" alt="">
                            <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sermons_content">
                            <h3 class="title_color">Did not find your Package? Feel free to ask us. We‘ll make it for you</h3>
                            <ul class="list_style sermons_category">
                                <li><i class="lnr lnr-user"></i><span>Categories: </span><a href="#"> Travor James</a></li>
                                <li><i class="lnr lnr-database"></i><span>Sermon Speaker: </span> Prayer</li>
                                <li><i class="lnr lnr-calendar-full"></i><span>Date:</span> 5th may, 2018</li>
                            </ul>
                            <a href="#" class="btn_hover">View More Details</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================Sermons work Area=================-->
    <!--================Donate Area=================-->
    <section class="donate_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-self-center">
                    <div class="donate_content ">
                        <h2>Your donation can save <br>many lives</h2>
                        <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="donation_form">
                        <h3>How much would you like to donate?</h3>
                        <div class="form-group">
                            <input type='text' class="form-control" placeholder="$5"/>
                        </div>
                        <div class="form-group">
                            <input type='text' class="form-control" placeholder="$5"/>
                        </div>
                        <div class="form-group">
                            <input type='text' class="form-control" placeholder="$5"/>
                        </div>
                        <div class="form-group">
                            <input type='text' class="form-control" placeholder="Any"/>
                        </div>
                        <a href="#" class="btn_hover btn_hover_two">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Donate Area=================-->

    <!--================Event Blog Area=================-->
    <section class="event_blog_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2>Upcoming Events</h2>
                <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="event_post">
                        <img src="/images/blog1.jpg" alt="">
                        <a href="#"><h2 class="event_title">Spreading Peace to world</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>Saturday, 5th may, 2018</li>
                            <li><i class="lnr lnr-apartment"></i>Rocky beach Church</li>
                            <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                        </ul>
                        <a href="#" class="btn_hover">View Details</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="event_post">
                        <img src="/images/blog2.jpg" alt="">
                        <a href="#"><h2 class="event_title">Spread Happyness to world</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>Saturday, 5th may, 2018</li>
                            <li><i class="lnr lnr-apartment"></i>Rocky beach Church</li>
                            <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                        </ul>
                        <a href="#" class="btn_hover">View Details</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="event_post">
                        <img src="/images/blog3.jpg" alt="">
                        <a href="#"><h2 class="event_title">Spreading Light to world</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>Saturday, 5th may, 2018</li>
                            <li><i class="lnr lnr-apartment"></i>Rocky beach Church</li>
                            <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                        </ul>
                        <a href="#" class="btn_hover">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area=================-->
    {{else if mascota}}
    <section class="banner_area d-flex text-center">

    </section>
    {{/if}}
    <!--================ start footer Area  =================-->	
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Agency</h6>
                        <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navigation Links</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Feature</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>										
                        </div>							
                    </div>
                </div>							
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Newsletter</h6>
                        <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>		
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                </div>									
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="/images/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="/images/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="/images/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="/images/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="/images/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="/images/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="/images/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="/images/instagram/Image-08.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>						
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <div class="col-lg-4 col-sm-4 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/stylesheets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
    <script src="/javascripts/mail-script.js"></script>
    <script src="/javascripts/mail-script.js"></script>
    <script src="/javascripts/stellar.js"></script>
    <script src="/stylesheets/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/stylesheets/vendors/flipclock/timer.js"></script>
    <script src="/stylesheets/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/javascripts/custom.js"></script>
</body>
</html>