{{#unless inicio }}
{{#unless registro}}
<style>
    .ventana {
        background: #721c24;
        width: 40%;
        color: rgba(255, 255, 255, 1);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: center;
        padding: 33px;
        min-height: 200px;
        border-radius: 22px;
        position: absolute;
        left: 25%;
        top: 80%;
        display: none;
    }
</style>
<script>
    function abrir() {
        document.getElementById("vent").style.display = "block";
    }
    function cerrar() {
        document.getElementById("vent").style.display = "none";
    }
</script>
<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-xl-2">
                        <div class="form-group">
                            <div class="label label-success" style="font-size: 13px">
                                <h1 class="mb-0 site-logo"><a href="/" class="h2 mb-0"><strong>Hospital</strong>Veterinario<span class="text-primary">.</span> </a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <div class="form-group">
                            </div>
                            {{#if sesion}}
                            <div class="ventana" id="vent">
                                <div class="form-control">
                                    <p style="font-size: 20px">Desea cerrar sesion?</p>
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <a href="javascript:cerrar()" class="btn btn-outline-danger">Cancelar</a>
                                    <a href="/cerrar_sesion" class="btn btn-outline-secondary">Salir</a>
                                </div>
                            </div>

                            {{#if persona }}
                            <div style="font-size: 20px; color: #b21f2d;">
                                {{msg.error}}
                            </div>
                            <div style="font-size: 20px; color: green;">
                                {{msg.ok}}
                            </div>
                            {{#if restringir}}
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">

                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuenta</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="/registrarVeterinario" class="nav-link">Registrar veterinario</a></li>
                                        <li class="nav-item"><a class="nav-link" href="javascript:abrir()">Salir</a> </li>
                                    </ul>
                                </li>
                            </ul>
                            {{/if}}
                            {{#unless restringir}}
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">

                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paciente</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="/listaHistorialMascotas" class="nav-link"> <i class="fas fa-notes-medical"></i> Historial Clinico</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion</a>
                                    <ul class="dropdown-menu">
                                       
                                        <li class="nav-item"><a class="nav-link" href="/listaclientes"><i class="far fa-list-alt"></i> Lista de Clientes</a></li>
                                        <li><a href="/veterinario/cita/listaCitas" class="nav-link">Historial de citas medicas</a></li>
                                        <li><a href="/veterinario/servicio/listaServicio" class="nav-link">Servicios</a></li>
                                    </ul>
                                </li>
                                <li><a href="/foroVeterinario" class="nav-link">Foro</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{usuario}} <i class="fas fa-user-shield fa"></i></a>
                                    <ul class="dropdown-menu">
                                        
                                        <form name="eliminarVeterinario" action="/eliminarVeterinario" method="POST">
                                            <input type="hidden" id="borrarVeterinario" name="borrarVeterinario" value="{{external}}">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm " style="color: red" >Eliminar mi cuenta</button>
                                            </div>
                                        </form>
                                        
                                        
                                        
                                        
                                        <li> <a href="#" data-toggle="modal" data-target="#configuracionUsuario" class="nav-link" onclick="llenardatosUsuario('{{external}}')">Configuración <i class="fas fa-user-cog  "></i></a></li>
                                        <li class="nav-item"><a class="nav-link" href="javascript:abrir()">Salir</a> </li>
                                    </ul>

                                </li>
                            </ul>
                            {{/unless}}
                            {{/if}}
                            {{#unless persona }}
                            <div style="font-size: 20px; color: #b21f2d;">
                                {{msg.error}}
                            </div>
                            <div style="font-size: 20px; color: green;">
                                {{msg.ok}}
                            </div>
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-dog"></i> Mascota</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="/registroMascota" class="nav-link"><i class="fas fa-cat"></i><i class="fas fa-dog"></i> Mis Mascotas</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/cliente/cita/agendar"><i class="far fa-file-alt"></i> Agendar Cita</a></li>
                                    </ul>
                                </li>
                                <li><a href="/comentario" class="nav-link"> <i class="far fa-comment-dots"></i> Dejar un comentario</a></li>
                                <li><a href="#services-section" class="nav-link">Nuestros Servicios</a></li>
                                <li><a href="/foro" class="nav-link">Foro</a></li>
                                {{!-- item cerrar session y configuracion de usuario --}}
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{usuario}} <i class="far fa-user"></i></a>
                                    <ul class="dropdown-menu">
                                        <form name="eliminarVeterinario" action="/eliminarVeterinario" method="POST">
                                            <input type="hidden" id="borrarVeterinario" name="borrarVeterinario" value="{{external}}">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-sm " style="color: red" >Eliminar mi cuenta</button>
                                            </div>
                                        </form>
                                        <li> <a href="#" data-toggle="modal" data-target="#configuracionUsuario" class="nav-link" onclick="llenardatosUsuario('{{external}}')">Configuración <i class="fas fa-user-cog"></i></a></li>
                                        {{!-- <li class="nav-item"><a class="nav-link" href="7configuracionUsuario" class="nav-link">Configuracion</a></li> --}}
                                        <li class="nav-item"><a class="nav-link" href="javascript:abrir()">Salir</a> </li>
                                    </ul>
                                </li>
                            </ul>
                            {{/unless}}
                            {{/if}}
                            {{#if ventanas}}
                         
                                <a href="/" class="nav-item" type="link">INICIO</a>
                            
                            {{/if}}
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {{/unless}}
        {{/unless}}
    </div> <!-- .site-wrap -->
</header>
<!--================Header Area =================-->
<section>
    {{> (lookup . 'fragmento') }}
</section>
<footer class="site-footer" style="padding: 5%">
    <div class="container">
        <div class="row">
            
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="footer-heading mb-4">Acerca de nosotro</h2>
                        <p>Nuestro local cuenta con expertos veterinarios dispuestos a atender a tu mascota. El huésped de nuestra veterinaria puede aprovechar su estadía para realizarse un chequeo médico completo, con exámenes de laboratorio, o cualquier tipo de procedimiento médico necesario. También puedes aprovechar la estadía de tu mascota para someterla a una limpieza profunda de dentadura o cirugías menores, si el caso lo amerita. </p>
                    </div>
                    
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Siguenos en:</h2>
                        <a href="https://www.facebook.com/UNLoficial/" class="pl-0 pr-3 social-link"><span class="icon-facebook"></span></a>
                        <a href="https://twitter.com/UNLoficial" class="pl-3 pr-3 social-link"><span class="icon-twitter"></span></a>
                        <a href="https://www.instagram.com/unloficial/" class="pl-3 pr-3 social-link"><span class="icon-instagram"></span></a>
                        <a href="https://www.youtube.com/channel/UCXMwpCdZV7QHdKBuFk3QeUw" class="pl-3 pr-3 youtube-link"><span class="icon-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                <p><a style=" font-weight: 900;">Información adicional</a>
                    <br>
<a style="font-style: oblique; font-weight: 900;">Internacional:</a> +593 7 2545072
<br>
<a style="font-style: oblique; font-weight: 900;"> Nacional:</a> (07) 2545072 ext. 113
<br>
<a style="font-style: oblique; font-weight: 900;">Mail:</a> coord.medicina.veterinaria@unl.edu.ec
<br>
<a style="font-style: oblique; font-weight: 900;">Atención:</a> Lunes a viernes 
<br>
8:00 a 12:30 | 15:00 a 18:30</p>  
            </div>
            
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados de los estudiantes de la Universidad Nacional de Loja de la carrera Ingenieria en Sistemas del cuarto ciclo paralelo "B"
                         <i class="fas fa-user-cog" aria-hidden="true"></i>  <a href="https://unl.edu.ec/" target="_blank">UNL</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>

                </div>
            </div>

        </div>
    </div>
    
</footer>
{{>'usuario/configuracionUsuario'}}